/* RESETEO */
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }
  * html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', serif; }
  * body {
    background: #22577A;
    height: 100vh;
    width: auto; }

/* FIX PARA IMAGENES */
img {
  max-width: 100%;
  height: auto; }

/* INDEX */
.main__index {
  width: 100%;
  max-width: 4000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main__index section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    background-image: radial-gradient(#38A3A5, #22577A);
    color: #ffff; }
  .main__index .main__slider h2 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    padding-bottom: 20px; }
  .main__index .main__noticias {
    flex-direction: column;
    border: 2px solid #ffff;
    padding: 2em; }
    .main__index .main__noticias img {
      width: 80%;
      padding-left: 10px;
      padding-bottom: 10px; }
  .main__index .carousel-item,
  .main__index .carousel-inner,
  .main__index .carousel-inner img {
    height: auto;
    width: 100%; }
  .main__index .carousel-item {
    text-align: center; }

/* QUIENES SOMOS */
.main__quienes {
  width: 100%;
  max-width: 4000px;
  margin: auto; }
  .main__quienes .section__quienes {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    background-image: radial-gradient(#22577A, #38A3A5);
    border-radius: var(--br-05);
    padding: 1em 2em;
    color: #ffff; }
    .main__quienes .section__quienes .section__quienes-txt {
      display: flex;
      flex-flow: column nowrap;
      justify-items: center;
      gap: 2em; }
    .main__quienes .section__quienes .section__quienes-mision,
    .main__quienes .section__quienes .section__quienes-vision {
      display: flex;
      flex-flow: column;
      align-items: center; }

/* NUESTRA RED */
.main__red {
  width: 100%;
  max-width: 4000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main__red .section__red {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    background-image: radial-gradient(#38A3A5, #22577A); }
    .main__red .section__red h2,
    .main__red .section__red p {
      color: #ffff; }
    .main__red .section__red span {
      color: #22577A; }
    .main__red .section__red .section__red-txt {
      display: flex;
      align-content: center;
      flex-direction: column;
      width: 80%; }
    .main__red .section__red .section__red-btn {
      background-image: radial-gradient(#57CC99, #80ED99);
      width: auto;
      color: #ffff; }
    .main__red .section__red .section__red-map {
      height: 400px;
      width: 80%; }
      .main__red .section__red .section__red-map iframe {
        width: 100%;
        height: 100%; }

/* PARTNERS */
.main__partners {
  width: 100%;
  max-width: 4000px;
  margin: auto;
  background: url(../images/fondo.webp) center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main__partners .section__partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: column; }
    .main__partners .section__partners .section__partners-card {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      flex-flow: column nowrap;
      background: linear-gradient(to left, #80ED99, #38A3A5);
      border-radius: 0.5em;
      padding: 1em;
      color: var(--clr-azul);
      margin: 2em;
      width: 260px;
      height: 260px; }
      .main__partners .section__partners .section__partners-card div > a > img {
        padding-bottom: 15px;
        padding-left: 10px;
        max-width: 35px;
        height: auto; }

/* CONTACTO */
.main__contact {
  width: 100%;
  max-width: 4000px;
  margin: auto;
  background-image: radial-gradient(#22577A, #38A3A5); }
  .main__contact .main__form {
    width: 100%;
    border-radius: 8px; }

/* 404 */
.error__main {
  width: 100%;
  max-width: 4000px;
  margin: auto;
  background-image: radial-gradient(#22577A, #38A3A5);
  display: flex;
  flex-flow: column nowrap;
  padding: 40px;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .error__main article {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff; }

@media (min-width: 768px) {
  .main__index {
    background: url(../images/fondo.webp) center/cover no-repeat;
    background-attachment: fixed; }
    .main__index section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 3em;
      width: 70%; }
    .main__index .main__noticias {
      flex-direction: row-reverse; }
      .main__index .main__noticias img {
        width: 50%;
        padding-left: 10px;
        padding-bottom: 10px; }
  .main__contact {
    background: url(../images/fondo.webp) center/cover no-repeat;
    background-attachment: fixed; }
    .main__contact .main__form {
      background-image: linear-gradient(to left, #38A3A5, #57CC99);
      width: 70%; }
  .main__quienes {
    background: url(../images/fondo.webp) center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    align-items: center; }
    .main__quienes .section__quienes {
      display: flex;
      flex-flow: column nowrap;
      justify-items: center;
      align-items: center;
      background-image: radial-gradient(#22577A, #38A3A5);
      width: 80%;
      padding: 2em;
      color: #ffff; }
      .main__quienes .section__quienes .section__quienes-txt {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding-bottom: 4em; }
      .main__quienes .section__quienes .section__quienes-mision,
      .main__quienes .section__quienes .section__quienes-vision {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        order: 2;
        align-items: center;
        padding-bottom: 4em; }
  .main__red {
    background: url(../images/fondo.webp) center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%; }
    .main__red .section__red {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      width: 60%;
      background: none; }
      .main__red .section__red .section__red-txt {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        color: black;
        width: 100%;
        padding: 2em;
        margin: 2em;
        background: linear-gradient(to left, #80ED99, #38A3A5);
        border-radius: 0.5em; }
      .main__red .section__red .section__div-red {
        background: linear-gradient(to left, #80ED99, #38A3A5);
        border-radius: 0.5em;
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-around;
        padding: 1em; }
      .main__red .section__red .section__red-btn {
        background-image: radial-gradient(#38A3A5, #22577A);
        font-weight: bold;
        min-width: 200px; }
      .main__red .section__red .section__red-map {
        width: 400px;
        height: 400px; }
  .main__partners {
    background: url(../images/fondo.webp) center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; }
    .main__partners .section__partners {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      flex-flow: row wrap; }
      .main__partners .section__partners .section__partners-card {
        margin: 2em;
        width: 330px;
        height: 330px; }
        .main__partners .section__partners .section__partners-card div > a > img {
          padding-bottom: 15px;
          padding-left: 10px;
          max-width: 40px;
          height: auto; }
    .main__partners .section__partners-card:hover {
      border: 2px solid #22577A;
      transform: scale(1.2);
      background: #ffff;
      transition: 0.8s; } }

footer {
  width: 100%;
  max-width: 4000px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  background: #57CC99;
  background: linear-gradient(to right, #38A3A5, #57CC99); }
  footer a {
    text-decoration: none;
    color: #22577A;
    text-transform: uppercase;
    font-weight: bolder; }
  footer ul li {
    padding-bottom: 5px; }
  footer .fade__footer {
    display: none; }
  footer .redes__footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px; }
    footer .redes__footer img {
      padding-left: 10px;
      max-width: 35px;
      height: auto; }

@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center; }
    footer a {
      font-weight: bolder; }
    footer a:hover {
      color: #80ED99;
      transform: scale(1.2); }
    footer .fade__footer {
      display: block; }
    footer .redes__footer {
      display: flex;
      flex-direction: column; }
      footer .redes__footer img {
        padding-bottom: 10px;
        max-width: 40px;
        height: auto; } }

header {
  width: 100%;
  max-width: 4000px;
  margin: auto;
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  background: #57CC99;
  background: linear-gradient(to left, #38A3A5, #57CC99); }
  header nav a {
    text-decoration: none;
    color: #22577A;
    font-weight: bold; }
  header img {
    padding: 10px;
    max-width: 141px;
    height: auto; }
  header h1 {
    display: none;
    color: #22577A; }

@media (min-width: 425px) {
  header nav a {
    padding-left: 30px;
    font-weight: bolder; }
  header nav a:hover {
    color: #57CC99;
    transform: scale(1.2); }
  header h1 {
    display: block; } }

/* TEXTO GENERAL */
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  font-weight: bolder; }

h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.07rem; }

p {
  font-size: 1.5rem;
  font-weight: 600; }
